[Desktop Entry]
Type=Application
Name=healthapp
Comment=A new Flutter project.
Icon=qwe.healthapp
Exec=/usr/bin/qwe.healthapp
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=qwe
ApplicationName=healthapp
